.main{
    height:56px;
    width: 100%;
    background-color:#4b4b4b;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}
.navBar ul.dropdown-menu {
    overflow: visible;
  }

.logo{
    width:50px;
    height:50px;
}

.middleTitle{
    text-align: center;
    padding-top:25px;
    padding-bottom:25px;
}